/*
 * (C) Copyright 2010-2014 hSenid Software International (Pvt) Limited.
 *  All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Software International (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Software International (Pvt) Limited.
 *
 * hSenid Software International (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */
body {
    margin: 0 !important;
    color: #404040;
    font-family: VodafoneRg
    font-size: small;
    background-color: white;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: "";
    clear: both;
    display: block;
}
nav ul li a {
    display: block;
    color: #fff;
    position: relative;
}
nav ul ul {
    position: relative;
}

nav ul ul li {
    position:relative;
    z-index:1;
    margin-left: -70px;
    margin-right: -20px;
    background: #e60000;
    padding: 15px 0px;
    border-top: #6c6e8d solid 1px;
    text-align: center;
}

nav ul ul li a {
    text-align: center;
    color: #fff;
    font-size: 15px;
}
nav ul ul li a:checked {
    color: #000000;
    text-align: center;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
/* Buttons, Links and Navigation
------------------------------------*/
a {
    text-decoration: none;
}

a:visited {

}

.text {
    font-weight: bold;
    padding-left: 8px;
    color: #667C26;
}

.title {
    background: #94c765;
    color: white;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.header {
    background: #0e7119;
    color: white;
    font-size: large;
    height:40px;
    text-align: center;

}

.footer {
    color: #06064d;
    font-size:small;
    text-align:center;
    height: auto;

}

.content {

     margin-bottom: 5px;


}
.content-login {
    margin: 15px;
    height:auto;
}

.content-register-form{

    font-size: large;
    margin-left:15px;
    margin-right:15px;
    margin-top: 2px;
    margin-bottom: 10px;
    height:auto;

}
.contentrelatedApps {

    margin-top:5px;
    font-size: large;
    margin-bottom: 5px;
    height:auto;

}

.bottombar {
    padding-left: 12px;
}
.body {
    height:100%;
    width:100%;
}

.search{
    background-color:#b4ddf2;
    color: #06064d;
    font-size: large;
    width: auto;
    height:25px;
    text-align: left;
    border-bottom:3px solid #5B95BD;
    border-top: 1px solid #5B95BD;

}
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

.logos{
    float: right;
    margin-right: 20px;
    margin-top: 8px;

}
.homeimage{
    float: left;
    padding: 5px;
    height: 30px;
    margin-top: 8px;
}
.head-devider{
    margin-left: -15px;
    margin-top: -8px;
    background: #FFF repeat-x;
    float: left;
    height: auto;
    padding-left: 10px;
    padding-right: 10px

}
.head-top-right{
    width: 50px;
    float: right;
    height: 40px;
}




.category-name{
    font-weight:normal;
    font-size:small;
}
/* list Navigation
------------------------------------*/
.list-style-one li{
    list-style-type:none;
    border:1px solid #f2f2f2;
    height: 60px;
    font-size: large;
    background: #ffffff;
    border-bottom: none;
}

.list-style-one li:first-child{
    border-top: none;
}

.list-style-one li:last-child{

    border-bottom:1px solid #f2f2f2;
}

.list-style-one li img{
    margin-right:10px;
    margin-top: 10px;

}

.list-style-one li a{
    font-size:small;


}

/*----------------------------------*/

.app-detail-page-list li{
    list-style-type:none;
    height: 100px;
    font-size: large;
    background: #ffffff;
    border-bottom: none;
}


.app-detail-page-list li a{
    font-size:small;


}
/* category list Navigation
------------------------------------*/
.list-style-appcategory li{
    list-style-type:none;
    border:1px solid #f2f2f2;
    height: 70px;
    text-align: left;
    font-size: large;
    background: #ffffff;
    border-bottom: none;

}
.list-style-appcategory li:first-child{
      border-top: none;
}

.list-style-appcategory li:last-child{

    border-bottom:1px solid  #f2f2f2;

}

.list-style-appcategory li img{
    margin-right:10px;
    margin-top: 8px;

}

.list-style-appcategory li a{
    font-size:small;
    /*font-weight:600;*/


}
/* end category list style
------------------------------------*/
/* category list style
------------------------------------*/
.liststyleapplist li{
    list-style-type:none;
    border:1px solid #f2f2f2;
    height: 60px;
    font-size: large;
    background: #ffffff;
    border-bottom: none;
    text-align: left;
}

.liststyleapplist li:first-child{
     border-top: none;
}

.liststyleapplist li:last-child{
    border-bottom:1px solid #f2f2f2;
}
.liststyleapplist li a{
    font-size:small;
    font-weight:600;

}

/* rating list style
------------------------------------*/

.rating-stars li{
    border:none;
    display:inline-block;
    width:12px;
    height:12px;

}
.rating-stars li img{
    width:15px;
    height:15px;
}
.rating{
    float: left;
    vertical-align: middle;
}
.rating-right{
    float: right;
    vertical-align: middle;
}
/* end rating list style
------------------------------------*/

/* newly added list
------------------------------------*/
.app-list-content{
    /*height: 430px;*/
    padding-top: 5px;

}
.select-more{
    height: 100px;
    padding-right: 15px;
    padding-top: 0px;
    font-size:small;
    margin-left: 15px;
    margin-top: 5px;

}
.select-more-wishlist{
    height: 20px;
    padding-top: 0px;
    font-size:small;
    margin-top: 5px;

}
.select-left{
    width: 48%;
    float: left;
    text-align: right;

}
.select-right{
   width: 48%;
   float: right;
    text-align: left;


}
.navigation-name{
    font-weight:bold;
    font-size:small;
    display:inline-block;
    margin-left: 15px;
    margin-top: 0px;
    color: #06064d;

}
.navigation_subName{

    font-weight:bold;
    font-size:small;
    display:inline-block;
    margin-left: 5px;
    margin-top: 0px;
    color: #06064d;

}

.image{
    height: 50px;
    margin-left: 10px;
    margin-top:  5px;
}

.app-detail-bar{
    height: 100px;
    margin-left: 10px;
    margin-top:  5px;
}
.download-section{
    float: right;
    height: auto;
    margin-right: 15px;
    display:  inline-block;
    margin-top: 10px;

}

.app-icon{
    float: left;
}
.app-icon-category{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.app-details-list{
    height: 50px;
    width: auto;
    /*float: left;*/
    display: inline-block;

}
.app-details-list-newly{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 5px;

}

.app-icon-scaledown{
    height:40px;
    width:40px;
}
.category-icon-scaledown{
    height:30px;
    width:30px;
}
.application-detail-icon{
    height:80px;
    width:80px;
    margin-top:5px;

}

.arrow{
    float: right;
    margin-top: 10px;
    margin-right: 10px;;

}
.headertop{
    height: 40px;
    padding-left: 15px;
    background: #ed1c24 repeat-x;
}


.appdetail{
    display:inline-block;
    color: #424B52;
    float: left;
    font-size: x-small;
    margin-left: 5px;

}
.appdetail-detail-app{
    display:inline-block;
    color: #424B52;
    float: left;
    font-size: x-small;
    margin-left: 15px;
    margin-top: 5px;
}

.charhing-label-icon{
    height: 15px;
    width: 42px;

}

.appdetail-downloadapps{

    font-weight:bold;
    display:inline-block;
    color: #424B52;
    float: right;
    font-size: x-small;
    margin-right: 10px;

}
.app-name{
    display:inline-block;
    color: #424B52;
    vertical-align: middle;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: VodafoneRg
}

.app-name:hover{
    display:inline-block;
    color: #e60000 ;;
    vertical-align: middle;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: VodafoneRg;
    text-decoration: underline;
}

.app-name-newly-added{
    display:inline-block;
    color: #424B52;
    vertical-align: middle;
    margin-top: 0px;
    font-size: 15px;

}
.application-name{

    display:inline-block;
    color: #424B52;
    font-size: small;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;

}
.dateformat{
    font-weight:bold;
    color: #8d6360;
    vertical-align: middle;
    text-align:right ;
    margin-top: 15px;
    margin-bottom: 5px;
}
.app-name-list{
    font-weight:bold;
    color: #6e848b;
    vertical-align: middle;
    text-align:left ;
    margin-top: 10px;
    margin-bottom: 0px;

}
.app-name-detail-page{
    color: #424B52;
    vertical-align: middle;
    text-align:left ;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 20px;

}

.app-name-detail-page-download{
    color: #424B52;
    vertical-align: middle;
    text-align:left ;
    margin-top: 10px;
    margin-bottom: 0px;
    /*margin-left: 15px;*/
    font-size: 20px;

}

.single-container{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;

}
.single-container p{
    font-size:small;
}

.single-pic{
    display:inline-block;
}
.single-title{
    display:inline-block;
    font-size:15px;
}
.left-column{
    float:left;
    margin-left: 10px;
}
.right-column{
    float:right;
    text-align:right;
    margin-right: 15px;
}
.right-column img{
    text-align:right;
    margin-right:0;
}
.clear-all{
    clear:both;
}
.category-and-price{
    margin-top:10px;
}
.category-and-price h3{
    font-size:small;
}

.download-list{
    display:inline-block;
    list-style-type:none;
    margin-top: 5px;
}

.appstatus{
    color: #6c6e8d;
    text-align:right
}

.application-content{
    border:1px solid #FFFFFF;
    height: 200px;
    font-size: large;
    background-color: #F0F8FF;

}

.application-category-content{
    height: 20px;
    padding-top: 5px;
    text-align: left;
}


.appdetailed-content-bar{
    border-top:1px solid #e7e6eb;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    padding-top: 5px;
    text-align: left;
}
.app-instruction-header{
    color: #202329;
    font-size: 15px;
}
.app-instruction-content{
    color: #424B52;
    font-family: sans-serif;
}
.imagecontent{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    height: 50px;
}
.downloadContent{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.category{
    margin-left: 15px;

}
.related-header{
    width: 100%;
    height: 40px;
    font-size:small;
    vertical-align: middle;
    background-color: white;
    text-align: left;
}

.related-bar{
    margin-left: 10px;
    margin-right: 10px;
    border-top:1px solid #e2e4eb;
    height:25px;
    color: #424B52;
    font-size: 15px;
    padding-top: 10px;
}
/* Search box
------------------------------------*/
.login-container{
    height: 40px;
    width: 100%;


}
.left-column-search{
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 5px;

}
.left-column-search  input{
    width: 100%;
    margin-right:10px;
    margin-left: 5px;

}

fieldset{
    border:none;
    padding:0;
    padding-right:10px;
    margin-bottom:5px;

}

fieldset input[type="text"]{
    border:1px solid #acb8be;
    height: 25px;
    width: 100%;

}
/*fieldset input[type="submit"]{
    height: 28px;
    margin-bottom:5px;
    border:1px solid #82888D;
    border-radius: 5px;
    background-color: #29333E;
    text-align: center;
    font-size: x-small;
    width: 100%;
    color: #ffffff;
    font-weight:bold;

}*/
.keep-me-signed-in span{
    font-size:small;
}

.search-box-item{
    height: auto;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    color: #226a45;
    margin-right: 10px;
}
.search-box-item input[type="submit"]{
    text-align:right;
    text-decoration: none;
    margin-left: 5px;
    display: block;
    width: 25px;
    border:none;
    height: 25px;
    margin-top: 3px;
    /*background:  url('../img/search_icon.png') no-repeat;*/
    float: right;
}
/* User Registration Form
------------------------------------*/
.user_register-fields{
    height: 60px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 3px;
    background-color: #f4f4f4;

}
.user_register-fields-birthday{
    height: auto;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
}
fieldset label{
    font-size:small;
    color: #29333E;
}


/* wish list
------------------------------------*/
.thelist{
    height: 30px;
    font-size: small;
    width: 100%;
    border-radius: 3px;
    border:1px solid #d2d8dd;
    background-color: #b8d5e6;
    margin-bottom: 5px;
}
.wishlist-item{
    height: 25px;
    font-size: small;
    width: auto;
    border-radius: 2px;
    border:1px solid #d2d8dd;
    background-color: #ffffff;
    padding-top: 5px;
    padding-left: 10px;

}
.enter-wish {
    width: auto;
    margin-left: 5px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.enter-wish-form {
    width: auto;
    padding-bottom:5px;

}
.enter-wish input{
    /*height: 30px;*/
    /*font-size: small;*/
    border-radius: 2px;
    border:1px solid #82888D;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
}
/*.enter-wish-form input{
    height: 40px;
    font-size: small;
    border-radius: 2px;
    border:1px solid #adb3b8;
    background-color: #ffffff;
    padding-top: 5px;
    width: 100%;

}*/

.enter-wish input[type="submit"]{
    display: block;
    color: #FFFFFF;
    text-align: center;
    background: #dd1c23;
    border: 1px solid #5E2750;
    padding: 10px;
    font-weight: bold;
    font-size: 13px;

}
.enter-wish input[type="button"]{
    display: block;
    color: #FFFFFF;
    text-align: center;
    background: #ed1c24;
    border: 1px solid #5E2750;
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
}



.wishlist-bottombar{
    height: auto;
    width: 100%;
    border-top:1px solid #e7e6eb;
    border-bottom:1px solid #e7e6eb;
    padding-top: 10px;
    padding-bottom: 5px;
}
.wishlist-topbar{
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* login form
------------------------------------*/
.login-form{
    width: 100%;
    height: auto;
    border:1px solid #82888D;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;

}
.login-form input[type="text"]{
    border:1px solid #b2b8bd;
    height: 25px;
    border-radius: 5px;
    width: 100%;

}
.login-form input[type="password"]{
    border:1px solid #b2b8bd;
    height: 25px;
    border-radius: 5px;
    width: 100%;

}
.user_login-fields{
    height: 60px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 3px;
    background-color: #f4f4f4;
    text-align: left;
}

.user_login-fields-label{
    height: 10px;
}
.username_login-field {
    border-radius: 5px;
    padding: 5px 15px 5px;
    margin-top: 10px;
    text-align: left;
}
.login-header{
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #e60000 repeat-x;
}
/*.login-form input[type="submit"]{
    background: #ed1c24 repeat-x;
    border-color: #5E2750 #5E2750 hsl(315, 41%, 26%);
    color: white !important;
    font-weight:bold ;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
    -webkit-font-smoothing: antialiased;

}
.login-form input[type="button"]{
    background: #ed1c24 repeat-x;
    border-color: #5E2750 #5E2750 hsl(315, 41%, 26%);
    color: white !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
    -webkit-font-smoothing: antialiased;
    height: 30px;
    padding-bottom: 5px;

}*/
.user-login-forgot-fields{
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    border-top:1px solid #82888D;
    background-color: #f4f4f4;
    margin-top: 5px;
}

.login-container-searchbox{
    height: 40px;
    width: 100%;

}
.left-column-searchbox{
    width: 80%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 5px;
    float:left;

}
.right-column-searchbox{
    width: 18%;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    border:1px solid #7e2182;
    float:right;

}


/* 404 error form
------------------------------------*/
.errorbody{
    height: auto;
    width: 100%;
    color: #29333e;
}
.error-body-content{
    border: 1px solid #dddce1;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-family: VodafoneRg;
    background-color: rgba(230, 0, 0, 0.20);
    text-align: center;
}
.success-body{
    height: auto;
    width: 100%;
    color: #29333e;
}
.success-body-content{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #eae9ee;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
    background-color:rgba(230, 0, 0, 0.20);
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}
.success-footer-section{
    text-align: center;
    height: 50px;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 5px;
}

.subscribe-footer-section{
    margin-left: 5px;
    margin-right: 10px;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.subscribe-footer-section input[type="submit"]{
    background-color: hsl(149, 51%, 27%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86BB89", endColorstr="#226a45");
    background-image: -moz-linear-gradient(top, #86bb89, #226a45);
    background-image: -ms-linear-gradient(top, #86bb89, #226a45);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #86bb89), color-stop(100%, #226a45));
    background-image: -webkit-linear-gradient(top, #86bb89, #226a45);
    background-image: -o-linear-gradient(top, #86bb89, #226a45);
    background-image: linear-gradient(#86bb89, #226a45);
    border-color: #226a45 #226a45 hsl(149, 51%, 27%);
    color: white !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
    -webkit-font-smoothing: antialiased;
}
.subscribeleft{
    width: 100%;

}
.subscriberight{
    width: 100%;

}

/* editProfile error form
------------------------------------*/
.edit-profile-style{
    margin-left: 10px;
    padding-top: 25px;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
    height: 50px;
    color: #226a45 ;
}

.edit-profile-arrow{
    float: right;
    height:20px;
    width: 20px;
    margin-right: 10px;
}
/* appDownload form
------------------------------------*/

.download-by{
    height: 30px;
    width: 100%;
    background-color: rgba(230, 0, 0, 0.05);
    border: 1px solid #e60000;
    color: #20202d;

}

.review-message{
    /*height: 30px;*/
    width: 100%;
    background-color: rgba(230, 0, 0, 0.05);
    border: 1px solid #e60000;
    color: #20202d;

}

.appdownload-dropdown{
    /*height: 50px;*/
    font-size: 14px;
    padding-left: 5px;
    padding-top: 3px;
    background-color: white;
}

.appdownload-label{
    height: 60px;
    font-size: 14px;
    padding-top: 3px;
    margin-bottom: 10px;
    background-color: white;
}
.dropDownMenu-content{
    border-top:1px solid #e7e6eb;
    margin-left: 10px;
    margin-right: 5px;
    height: auto;
    padding-top: 10px;
    text-align: left;
}
.drowpdown-download{
    margin-left: 10px;
    margin-right: 10px;
}
.option-value-style{
    height: 30px;

}

.alert-error {
    color: #b90909;
    font-size: 14px;
    text-align: left;
    padding: 8px;
}

.alert-info {
    color: #06b951;
    font-size: 14px;
    text-align: left;
    padding: 8px;
}

.application-empty{
    margin-left: 12px;
    margin-right: 12px;
    color: #e60000;
    font-size: 14px;
    margin-top: 10px;
    /*height: 50px;*/
    border: 1px solid #d8e0de;
    padding: 20px;
    background-color: rgba(230, 0, 0, 0.11);
    text-align: center;
}
.empty-back{
    margin-left: 10px;
    color: #e60000;
    font-size: 15px;
}

@font-face {
    font-family: 'VodafoneRg';
    src: url('../font/VodafoneRg.eot');
    src: local('VodafoneRg'), url('../font/VodafoneRg.woff') format('woff'), url('../font/VodafoneRg.ttf') format('truetype'), url('../font/VodafoneRg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.register_btn{
    display: block;
    color: #FFFFFF;
    text-align: center;
    background: #ed1c24;
    border: 1px solid #5E2750;
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 2px
    /*width: 100%;*/
}

/*reset the css for forgot password page*/

.mini-title{
    display: block;
    text-align: center;
    background-color: #efefef;
    color: #E60000;
    border-bottom: 1px solid #D5D5D5;
}
.margin-top-25{
    margin-top: 2em;
}
.margin-top-25 form{
    padding: 10px;
}
.margin-top-25 label{
    /*font-size: 14px;*/
    /*font-weight: bold;*/
}
.margin-top-25 .content{
    font-size: inherit;
}
.text-center{
    text-align: center;
}
.margin-top-25 input{
    clear: both;
}
.margin-top-25 .button{
    font-size: medium;
    font-weight: bold;
    border:1px solid #dcdcdc;
    cursor: hand;
}
.margin-top-25  input.primary{
    color: #fff;
    background-color: #E60000;
    border: #fff;
}
.margin-top-25 .form_feedback {
    color: #FF0000;
    /*font-size: medium;*/
    clear: both;
}
.margin-top-25 a.button{
    background-color: #D5D5D5;
    padding: 1px 3px;
}
.required{
    color: #ff0000;
}

.write-review{
    background-color: green;
    padding: 5px;
    color: white;
    font-size: small;
    border: solid 1px #000000;
    float: right;
}

.app-review-profile-pic-area{
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.app-review{
    float: left;
}

.app-view-content{
  font-size: small;
    font-style: italic;
}


.screen-shot-view-content{
    height: 150px;
    border: 1px solid slategray;
}
